<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" class="h-100">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="~{fragments/navigation :: navigate}"></div>
	<div>
	 	<h1>Shopping Cart</h1>	 	
	 </div>

	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">id</th>
				<th scope="col">FOOD NAME</th>
				<th scope="col">PRICE</th>
				<th scope="col">CATEGORY</th>
				<th scope="col">DESCRIPTION</th>
				<th scope="col">IMAGE</th>
				<th scope="col">Delete</th>
				<th scope="col">Order</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="food : ${foods}">
				<td th:text="${food.food_id}"></td>
				<td th:text="${food.food_name}"></td>
				<td th:text="${food.price}"></td>
				<td th:text="${food.category}"></td>
				<td th:text="${food.description}"></td>
				<td><img th:src="@{${food.imagesImagePath}}" width="70"
					height="70"></td>
				<td><a type="button" class="btn btn-success"
					th:href="@{'/deleted/' + ${food.food_id}}">Delete</a></td>
					<td><a type="button" class="btn btn-success"
					th:href="@{'/orders/' + ${food.food_id}}">Order</a></td>
			</tr>
		</tbody>
		<tbody>
			<tr th:each="desert : ${deserts}">
				<td th:text="${desert.des_id}"></td>
				<td th:text="${desert.desert_name}"></td>
				<td th:text="${desert.price}"></td>
				<td th:text="${desert.category}"></td>
				<td th:text="${desert.description}"></td>
				<td><img th:src="@{${desert.imagesImagePath}}" width="70"
					height="70"></td>
				<td><a type="button" class="btn btn-success"
					th:href="@{'/delete/' + ${desert.des_id}}">Delete</a></td>
				<td><a type="button" class="btn btn-success"
					th:href="@{'/order/' + ${desert.des_id}}">Order</a></td>
			</tr>
		</tbody>
	</table>
	
	 
	 <!-- <table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">id</th>
				<th scope="col">FOOD NAME</th>
				<th scope="col">PRICE</th>
				<th scope="col">CATEGORY</th>
				<th scope="col">DESCRIPTION</th>
				<th scope="col">IMAGE</th>
				<th scope="col">Delete</th>
				<th scope="col">Order</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
			</tr>
		</tbody>
		</table> -->
	
	<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>