<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" class="h-100">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="~{fragments/navigation :: navigate}"></div>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">id</th>
				<th scope="col">FOOD NAME</th>
				<th scope="col">PRICE</th>
				<th scope="col">CATEGORY</th>
				<th scope="col">DESCRIPTION</th>
				<th scope="col">IMAGE</th>
				<th scope="col">Delete</th>
			</tr>
		</thead>
		<!-- <tbody>
			<tr th:each="cart: ${cartlist}">
				<td th:text="${cart.Fname}"></td>
				<td th:text="${cart.contact_no}"></td>
				<td th:text="${cart.deserts}"></td>
			</tr>
		</tbody> -->
		</table>

	<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>