<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org" class="h-100">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigated}"></div>
	<h1>customer order List</h1>
<table class="table">
  <thead class="thead-dark">
		<tr>
			<th scope="col">order id</th>
			<th scope="col">Customer name</th>
			<th scope="col">food name</th>
			<th scope="col">quantity</th>
			<th scope="col">Date</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="orderlist : ${orders}">
			<td th:text="${orderlist.id}"></td>
			<td th:text="${orderlist.customer.Fname}"></td>
			<td th:text="${orderlist.food.food_name}"></td>
			<td th:text="${orderlist.desert.desert_name}"></td>
			<td th:text="${orderlist.quantity}"></td>
			<td th:text="${orderlist.date}"></td>
		</tr>
	</tbody>	
</table>
	<div></div>
		<div align="center">
			<input type="submit" class="btn btn-success" value="Print" />
		</div>
	<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>